<%= render partial: "shared/loggedoff_navbar"%>

<div class="welcome">

<h1>

Welcome to HOP...<!--content, padding, -->

</h1><!--padding between the text and what's outside the cell-->

</div>

<br/>

<br/>

<div class="box">

  <div class="container-1">

      <span class="icon"><i class="fa fa-search"></i></span>

      <input type="search" id="search" placeholder="Where are you hopping to?" />

  </div>

</div>

<div id="#picture" align="center">

<img src="plane.jpg" />

</div>

<br/>

<br/>

<div class="navBottom">

<table align="center" width="75%">

<td><a href="aboutHop.html" title="About HOP">

<font face="Times New Roman" color="white">About HOP</font></a></td>

<td><a href="second.html" title="Template 1">

<font face="Times New Roman" color="white">Contact</a></td>

<td><a href="third.html">

<font face="Times New Roman" color="white">Locations</a></td>

</table>

</div>

