<h1>Search by</h1>
<h3>Interests</h3>
<form action="/results" method="GET">
	<select name="interests">
		<% @interests.each do |interest| %>
		<option><%=interest%></option>
		<% end %>
	</select>
	<h3>Locations</h3>
	<select name="locations">
		<% @locations.each do |location| %>
		<option><%=location%></option>
		<% end %>
	</select></br>
	<input name="startDate" placeholder="Start Date"></input>
	<input name="endDate" placeholder="End Date"></input>
	<button>Submit</buttom>
</form>
